.stat-carousel {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  display: inline-flex;

  >.carousel-track {
    display: inline-flex;

  }

  .animate {
    animation: 15s carousel-slide infinite linear;
  }

  &:hover>.carousel-track {
    animation-play-state: paused;
  }
}

@keyframes carousel-slide {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}
