@use "../variables" as *;

.cookie {
  display: flex;
  color: $primary;
  padding: 1.6rem 4rem;
  background-color: $primary-light;
  border-radius: 2.8rem;
  width: 465px;
  align-items: center;
  position: fixed;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  transition: opacity 0.3s ease;
  z-index: $z-index-header;

  &.hidden {
    opacity: 0;
    pointer-events: none;
  }

  &__icon {
    width: 2.4rem;
    height: 2.4rem;
  }

  &__text {
    margin-left: $space-sm;
  }

  &__close {
    all: unset;
    display: flex;
    color: $black;
    margin-left: auto;
    cursor: pointer;
  }

  &__cross {
    width: 2.4rem;
    height: 2.4rem;
  }
}
