@use "../variables" as *;

.header {
  position: absolute;
  z-index: $z-index-header;
  padding: $space-lg;
  width: 100%;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__logo {
    width: 12rem;
    height: 5rem;
  }
}

.navigation {
  &__list {
    list-style: none;
    display: flex;
    align-items: center;
    gap: $space-lg;
  }

  &__link {
    text-decoration: none;
    border: 1px solid $white;
    padding: 0.8rem 1.6rem;
    border-radius: 1.6rem;
    color: $white;
    font-weight: $weight-semi-bold;
    letter-spacing: 0;
    font-size: 1.4rem;
    width: fit-content;

    &:active,
    &:hover,
    &:focus-visible {
      background: $white-translucent;
    }
  }
}
