@use "../variables" as *;

.slider {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.filter {
  &__list {
    list-style: none;
    display: flex;
    gap: $space-lg;
  }
}

.slider {

  &__control {
    display: inline-flex;
    gap: $space-md;
  }

  &__prev-btn {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }

  &__container {
    display: flex;
    overflow: auto;
    gap: $space-xl;
    padding-bottom: 1.5rem;
    margin-top: $space-xl;
    scroll-behavior: smooth;
    padding-inline-start: max($pad-regular, calc($horizontal-margin + $pad-regular ));
    padding-inline-end: 6rem;

    // SAFARI FIX
    width: 100vw;
    max-width: min-content;

    &.drag {
      scroll-behavior: auto;

      .slider__item {
        cursor: grab;
        user-select: none;
      }
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: $space-lg;
    cursor: pointer;

    &--hidden {
      visibility: hidden;
    }

    &-info {
      display: flex;
      flex-direction: column;
      gap: $space-xs;
    }

  }

  &__image-container {
    position: relative;
    border-radius: 2.4rem;
    width: 37.6rem;
    height: 38.2rem;
    overflow: hidden;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;


    &-label {
      position: absolute;
      z-index: 2;
      left: 1.6rem;
      top: 80%;
    }
  }
}
